<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>Process your image</title>
 
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
 
    <link href="../static/jumbotron-narrow.css" rel="stylesheet">

    <link href="../static/style.css" rel="stylesheet">
 
 
</head>
 
<body>
 
    <div class="container">
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation" class="active"><a href="/">Home</a>
                    </li>
                    <li role="presentation"><a href="#">Admin</a>
                    </li>
                </ul>
            </nav>
            <h3 class="text-muted">Process your image</h3>
        </div>
 
        <div class="jumbotron">
		 <div id="image-container">
            <img src=" {{url_for('send_image', filename=image_name)}} " style="max-width: 560px;">
            </div>
          </div>
 
        <div class="row marketing">
            <div class="col-lg-6">
                <h4>Show</h4>
                <form id="form-flip" action="{{ url_for('flip') }}" method="POST" enctype="multipart/form-data">        
                  <button id="btnFlipV" class="btn btn-lg btn-success" type="submit" name="mode" value="vertical">mri</button>
                  <button id="btnFlipH" class="btn btn-lg btn-success" type="submit" name="mode" value="horizontal">plot</button>
                  <!-- <button id="btnFlipH" class="btn btn-lg btn-success" type="submit" name="mode" value="both">reconstruction</button> -->
                  
			  <input type="text" class="hidden" name="image" value="{{ image_name }}">  
               
            </div>
 
         
        </div>
 
        <footer class="footer">
            <p>Using pretrained CGAN model for image translation.</p>
        </footer>
 
    </div>
</body>
 
</html>

